nav {
    text-align: center;
    background-color: black;
    color: beige
}
#subTitle {
    text-align: center;
    background-color: blue;
    color: beige
}
#foot {
    text-align: center;
    background-color: blue;
    color: beige
}
#container {
    
    width: 960px;
    background-color: blueviolet;
    margin: auto;
    border-width: 1px;
    border-style: ridge;
    border-color: #dddddd;
}
